*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("weatherImages/clouds.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.card{
    background-color: rgba(74, 68, 68, 0.727);
    padding: 2rem;
    color: white;
    border-radius: 35px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 420px;
    width: 100vh;
    margin: 1rem;
}
/* search box style */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;

}

.search input{
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 22px;
    font-family: inherit;
    font-size: 105%;
    opacity: .6;
    width: calc(100% - 60px);

}
.search-btn{
    border-radius: 50%;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    opacity: .6;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.search-btn:hover{
opacity: 1;
}
/* /search box style */
/* error style */
.error-msg{
    display: none;
    margin: 1rem auto -1rem 1rem;
    color: rgb(176, 148, 148);
    font-weight: bold;
}
/* /error style */
.weather-icon{
    width: 5.2rem;
    height: 5.2rem;
    margin-top: 1rem;
}
.weather{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    align-items: center;
    margin-top: 1rem;
}
.city-name{
    font-size: 2.5rem;
    margin-top: 1rem;
}
.temp{
    font-size: 3rem;
}

.description{
    margin-bottom: 1.5rem;
}
.col{
    display: flex;
}
.weather-details{
    display: flex;
    /* justify-content: space-between; */
    gap: 1.3rem;
    font-size: 1.1rem;

}

.icon{
    height: 3.1rem;
    width: 3.1rem;
    opacity: .6;
    margin-right: .4rem;
}

.weather{
    display: none;
}

.loading{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.229);
    padding: 1rem;
    border-radius: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
    border-top-right-radius: 125px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  footer a {
    text-decoration: none;
    color: rgb(62, 60, 60);
  }
  
  footer img {
    width: 1.7rem;
    height: 1.7rem;
  }
  